.floating-search-card {
    position: fixed;
    width: 100%;
    background-color: white;

    box-shadow: 0px 0px 8px #ddd;
    border-radius: 5px;

    max-height: 500px;
    max-width: 550px;
    z-index: 1000;
    overflow-y: auto;

}
    .search-result {
        padding: 1px 10px;
    }
    
    .search-result:hover {
        background-color: #efefef;
    }


.floating-info-card {
    position: absolute;
    width: 100%;
    background-color: rgb(240, 240, 240);
    box-shadow: 0px 0px 8px #ddd;
    border-radius: 5px;
    z-index: 1000;
    overflow-y: auto;
}
    .with-blue-border {
        border: 2px solid blue;
        left: 10px;
        top: 10%;
        max-height: 440px;
        max-width: 341px;
    }

    .with-red-border {
        border: 2px solid red;
        right: 10px;
        top: 30%;
        max-height: 440px;
        max-width: 341px;
    }

    .weather-blue-pin {
        border: 2px solid blue;
        left: 10px;
        top: calc(10% + 440px + 20px);
        max-height: 225px;
        max-width: 341px;
    }

    .weather-red-pin {
        border: 2px solid red;
        right: 10px;
        top: calc(30% + 440px + 20px);
        max-height: 225px;
        max-width: 341px;
    }




.floating-popup-card {
    position: absolute;
    padding-right: 5px;
    width: 100%;
    background-color: white;
    padding-left: 10px;

    box-shadow: 0px 0px 8px #ddd;
    border-radius: 10px;

    z-index: 1000;
    overflow-y: auto;
}

    .popup-coord-info {
        right: 10px;
        top: 9%;
        max-height: 500px;
        max-width: 180px;
        border: 2px solid rgb(0, 0, 0);
    }

    .popup-pin-info {
        right: 10px;
        top: 19%;
        max-height: 500px;
        max-width: 180px;
        border: 2px solid red;
    }

    .popup-error {
        right: 20%;
        top: 9%;
        max-height: 500px;
        max-width: 180px;
        border: 8px solid red;
    }


.hide-container-button {
    position: absolute;
    top: 0;
    right: 0; 
}

.pin-table {
    border: 0px solid white;
    border-radius: 0px;
}
.fetched-pin:hover {
    background-color: #696969;
}